@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-geist-mono);

  /* Skeleton loader animation එක මෙතන තමා define කරන්නේ */
  --animate-shimmer: shimmer 1.5s infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

/* Scrollbar එක hide කරන custom utility එක (Tailwind v4 syntax) */
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@utility mask-linear-fade {
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}